.answer {
    width: 25%;
    padding: 10px;
    background-color: #3E4566;
    text-align: center;
    font-weight: 400;
    font-family: Arial, sans-serif;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    flex-direction: row;
}