.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-self: center;
    font-family: Arial, sans-serif;
}